:root {
  --header-text-color: #2e2f42;
  --iris: #4d5ae5;
  --navyblue: #2e2f42;
  --button-color: #e7e9fc;
  --light-slate: #8e8f99;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #ffffff;
  color: #434455;
}

.list {
  list-style: none;
}

.is-open {
  opacity: 1;
  pointer-events: all;
  visibility: visible;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  text-decoration: none;
}
.container {
  max-width: 428px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}

.container {
  max-width: 428px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.section {
  padding: 96px 0;
}
@media screen and (min-width: 1158px) {
  .section {
    padding: 120px 0;
  }
}

.main-header {
  padding: 0 15px;
}

header {
  border-bottom: 1px solid #e7e9fc;
}

/* ------------------- */
/* NAVIGATION SECTION  */
/* ------------------- */

.main-header {
  display: flex;
}

@media screen and (min-width: 768px) {
  .main-header {
    display: block;
  }
}

@media screen and (min-width: 1158px) {
  .main-header {
    padding: 0 15px;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  }
}

@media screen and (min-width: 768px) {
  .main-header .container {
    margin: 0 auto;
  }
}

.logo {
  margin-right: 76px;
}

.site-nav > .link {
  font-family: 'Raleway', sans-serif;
  color: var(--iris, #4d5ae5);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
}

.navigation-menu-item {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav > .list {
  display: none;
}

@media screen and (min-width: 768px) {
  .site-nav > .list {
    display: inline-flex;
    justify-content: flex-end;
  }
}

@media screen and (min-width: 1158px) {
  .site-nav > .list {
    gap: 40px;
  }
}

.text-logo-studio {
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
  color: var(--navyblue, #2e2f42);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.menu .link {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.contacts .list {
  display: none;
  font-style: normal;
  color: #434455;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.16;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 768px) {
  .contacts .list {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (min-width: 1158px) {
  .contacts .list {
    display: flex;
    gap: 40px;
    flex-direction: row;
  }
}

.contacts {
  padding: 24px 0;
}

@media screen and (min-width: 768px) {
  .contacts {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

header .container {
  display: flex;
  margin-left: 0;
  justify-content: space-between;
  align-items: center;
}

@media screen and (min-width: 1158px) {
  header .container {
    height: 72px;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    margin-left: auto;
  }
}

.site-nav {
  text-decoration: none;
  display: inline-flex;
  align-items: center;
}

.site-nav a {
  padding: 24px 0;
}

.site-nav .list .link:hover,
.link:focus {
  color: #404bbf;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.32px;
}

.site-nav .list .contacts-item .link:focus {
  color: #404bbf;
}

.contacts .list .contacts-item .link:hover {
  color: #404bbf;
}

.contacts .list .contacts-item .link:focus {
  color: #404bbf;
}

.contacts .list .contacts-item .link {
  color: #434455;
}

.contacts .list .contacts-item {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

@media screen and (min-width: 768px) {
  .contacts .list {
    display: flex;
    row-gap: 12px;
  }
}

.menu .navigation-menu-item .active {
  color: #404bbf;
  position: relative;
}

.active::after {
  content: '';
  position: absolute;
  left: 0;
  background-color: #404bbf;
  border-radius: 2px;
  width: 100%;
  height: 4px;
}

@media screen and (min-width: 768px) {
  .active::after {
    bottom: -14px;
  }
}

.menu-portfolio.active::after {
  content: '';
  position: absolute;
  left: 0;
  background-color: #404bbf;
  border-radius: 2px;
  width: 100%;
  height: 4px;
}

.contacts .list .contacts .link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.studio-link.link.active {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts.list.email {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* ------------------- */
/* BURGER MENU SECTION */

.burger-container {
  margin: auto 0;
  max-width: 1170px;
  padding-left: 15px;
  padding-right: 16px;
}

.page-header {
  box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%),
    0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
}

.page-header .burger-container {
  min-height: 80px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.menu {
  display: flex;
  padding: 0;
  list-style: none;
}

@media screen and (min-width: 768px) {
  .menu {
    gap: 40px;
  }
}

@media (max-width: 767px) {
  .menu {
    display: none;
  }
}

.menu .link {
  padding: 10px;
  color: inherit;
  text-decoration: none;
}

.menu .link:hover,
.menu .link:focus {
  text-decoration: underline;
}

.menu-toggle {
  height: 24px;
  width: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 1px;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
  border-radius: 50%;
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.menu-toggle:hover,
.menu-toggle:focus {
  background-color: rgba(0, 0, 0, 0.1);
}

.menu-container .menu-toggle {
  border: 1px solid #e7e9fc;
}

.menu-container {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 40px 16px;
  background-color: #fff;
  z-index: 999;
  flex-direction: column;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.burger-menu-item:first-child {
  margin-top: 32px;
}

.burger-menu-item:first-child > a {
  color: var(--iris, #4d5ae5);
}

.burger-menu-item:not(:first-child) {
  margin-top: 40px;
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 24px;
  right: 24px;
  color: #fff;
}

.mobile-menu {
  list-style: none;
}

.mobile-menu .link {
  display: block;
}

.burger-menu-icon {
  stroke: #2e2f42;
}

@media screen and (min-width: 768px) {
  .burger-container {
    display: none;
  }
}

.burger-link {
  color: var(--navyblue, #2e2f42);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02;
}

.burger-social-item {
  margin-bottom: 48px;
}

.burger-social-item:not(:last-child) {
  margin-bottom: 40px;
}

.burger-social-tel {
  color: var(--iris, #4d5ae5);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.11;
  letter-spacing: 0.02em;
}

.burger-social-mail {
  color: var(--slate, #434455);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2; /* 120% */
  letter-spacing: 0.05em;
}

.burger-menu-wrap {
  margin-top: auto;
}

.burger-menu-wrap .social-list {
  justify-content: space-between;

  gap: 4px;
}

/* ------------------- */
/*    HERO SECTION     */
/* ------------------- */

.hero-title {
  color: #fff;
  max-width: 320px;
  min-height: 80px;
  margin: 0 auto 72px;
  text-transform: capitalize;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.1111;
  letter-spacing: 0.02em;
}

@media screen and (min-width: 768px) {
  .hero-title {
    line-height: 1.07;
    max-width: 496px;
    font-size: 56px;
    margin: 0 auto 36px;
  }
}

@media screen and (min-width: 1158px) {
  .hero-title {
    letter-spacing: 1.12px;
    margin: 0 auto 48px;
  }
}

.hero-section {
  width: 100%;
  min-width: 216px;
  margin: 0 auto;
  padding: 72px 52px;
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url('../images/hero-image/hero-mobile@1x.jpg');
}

@media only screen and (min-resolution: 192dpi) {
  .hero-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url('../images/hero-image/hero-mobile@2x.jpg');
  }
}

@media only screen and (min-width: 768px) {
  .hero-section {
    padding: 112px 136px;
    max-width: 768px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url('../images/hero-image/hero-tablet@1x.jpg');
  }
}

@media only screen and (min-width: 768px) and (min-resolution: 192dpi) {
  .hero-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url('../images/hero-image/hero-tablet@2x.jpg');
  }
}

@media screen and (min-width: 1158px) {
  .hero-section {
    padding: 188px 472px;
    max-width: 1440px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url('../images/hero-image/hero-desktop@1x.jpg');
  }
}

@media screen and (min-width: 1158px) and (min-resolution: 192dpi) {
  .hero-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url('../images/hero-image/hero-desktop@2x.jpg');
  }
}

.order-service-button {
  display: block;
  background: var(--iris, #4d5ae5);
  cursor: pointer;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border: none;
  min-width: 169px;
  padding: 16px 32px;
  height: 56px;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-service-button:hover,
.order-service-button:focus {
  background-color: #404bbf;
}

/**
  |============================
  | FEATURE SECTION
  |============================
*/

.feature-list-item {
  flex-basis: 100%;
}

@media screen and (min-width: 768px) {
  .feature-list-item {
    flex-basis: calc((100% - 24px) / 2);
  }
}

@media screen and (min-width: 1158px) {
  .feature-list-item {
    flex-basis: calc((100% - 3 * 24px) / 4);
  }
}

.feature-section .container .list {
  display: flex;
  gap: 72px;
}

@media screen and (min-width: 768px) {
  .feature-section .container .list {
    row-gap: 72px;
    column-gap: 24px;
  }
}

@media screen and (min-width: 1158px) {
  .feature-section .container .list {
    gap: 24px;
  }
}

.feature-list {
  flex-wrap: wrap;
  min-width: 200px;
}

.feature-list-item-container {
  display: none;
  align-items: center;
  justify-content: center;
  max-width: 264px;
  max-height: 112px;
  padding: 24px 100px;
  margin-bottom: 8px;
  border-radius: 4px;
  background-color: #f4f4fd;
}

@media screen and (min-width: 1158px) {
  .feature-list-item-container {
    display: flex;
  }
}

.second-header {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.72px;
  text-transform: capitalize;
}

.feature-section .third-header {
  text-align: center;
  color: var(--header-text-color);
  font-family: Roboto;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.111;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

@media screen and (min-width: 768px) {
  .feature-section .third-header {
    text-align: left;
  }
}

@media screen and (min-width: 1158px) {
  .feature-section .third-header {
    text-align: left;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
  }
}

.about-our-work {
  color: #434455;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
  max-width: 396px;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .about-our-work {
    font-weight: 500;
  }
}

@media screen and (min-width: 768px) {
  .about-our-work {
    margin: 0;
  }
}

/**
  |============================
  | OUR TEAM SECTION
  |============================
*/

.third-section {
  background-color: #f4f4fd;
}

.third-section-header {
  color: var(--header-text-color);
  line-height: 1.11;
  text-align: center;
  font-size: 36px;
  font-style: normal;
  line-height: 40px;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.third-section .list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 24px;
  row-gap: 72px;
}

@media screen and (min-width: 768px) {
  .third-section .list {
    flex-direction: row;
    row-gap: 64px;
  }
}

@media screen and (min-width: 1158px) {
  .third-section .list {
    row-gap: 0;
  }
}

.third-header-content {
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.4px;
  margin-bottom: 8px;
}

.card-content-name {
  color: var(--navyblue, #2e2f42);
  text-align: center;
  font-size: 20px;
  font-style: normal;
  line-height: 24px;
  letter-spacing: 0.4px;
}

.underlist {
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.position-container {
  display: flex;
  width: 232px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 32px 0;
  margin: auto;
}

.social-list {
  display: flex;
  gap: 24px;
  padding-top: 8px;
  justify-content: center;
}

.social-list-icon {
  fill: #f4f4fd;
}

.social-list-item {
  justify-content: center;
  width: 40px;
  height: 40px;
}

.social-list-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-link:hover {
  background-color: #404bbf;
}
.social-list-link:focus {
  background-color: #404bbf;
}

/**
  |============================
  | PORTFOLIO PAGЕ
  |============================
*/
.portfolio-content {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
}

.description {
  border-right: 1px solid var(--CORNFLOWER, #e7e9fc);
  border-bottom: 1px solid var(--CORNFLOWER, #e7e9fc);
  border-left: 1px solid var(--CORNFLOWER, #e7e9fc);
  padding: 32px 16px;
}

.card-title {
  color: var(--NAVY-BLUE, #2e2f42);
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.4px;
}

.card-description {
  color: var(--SLATE, #434455);

  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
}

@media screen and (max-width: 1168px) {
  .portfolio-section {
    padding-top: 64px;
  }
}

.portfolio-email {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-portfolio.link.active {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-section .list {
  display: flex;
  row-gap: 48px;
  align-content: center;
  flex-wrap: wrap;
  width: auto;
}

.portfolio-sorting-button {
  display: flex;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #4d5ae5;
  background-color: #f4f4fd;
  padding: 12px 24px;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.frame-wrapper {
  position: relative;
  overflow: hidden;
}

.frame-wrapper-text {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-content-link:hover,
.portfolio-content-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-content-link:hover .frame-wrapper-text {
  transform: translateY(0%);
}

.portfolio-content-link:focus .frame-wrapper-text {
  transform: translateY(0%);
}

.frame {
  row-gap: 48px;
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-content-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-item {
  margin: 0;
}

.button-item:not(:last-child) {
  margin-right: 24px;
}

.button {
  flex-wrap: wrap;
  margin-bottom: 72px;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .button {
    display: flex;
    justify-content: left;
  }
}

.frame {
  width: 100%;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background: var(--WHITE, #fff);
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.frame img {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .frame {
    width: calc((100% - 48px) / 2);
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 0;
  }

  .description {
    width: 100%;
  }

  .portfolio-content {
    gap: 72px 24px;
  }
}

@media screen and (min-width: 1168px) {
  .frame {
    width: calc((100% - 48px) / 3);
  }

  .frame:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  }

  .frame:hover .frame-wrapper-text {
    transform: translateY(0);
  }
}

.frame .descr {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
  margin: 0;
}

.portfolio-sorting-button:hover,
.portfolio-sorting-button:focus {
  color: #ffffff;
  background-color: #404bbf;
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-about-our-work {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.second-header-portfolio {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.modal-button-container {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  display: none;
}

/* ------------------- */
/*    FOOTER SECTION   */
/* ------------------- */

footer {
  background-color: #2e2f42;
  width: 100%;
}

@media screen and (min-width: 1158px) {
  footer {
    flex-shrink: 0;
    height: 312px;
    padding: 100px 0;
  }
}

.footer-list {
  display: flex;
  flex-wrap: wrap;
  gap: 120px;
  padding: 0;
  margin: 0;
}

.web-studio-footer {
  width: 264px;
  height: 112px;
  margin-top: 100px;
}

.footer .link {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  display: inline-block;
  margin-bottom: 16px;
}

.text-logo-studio-footer {
  color: var(--cloud, #f4f4fd);
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 1.17; /* 116.667% */
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.social-list-footer {
  display: flex;
  gap: 16px;
}

.footer-social-links-text {
  color: #ffffff;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.footer .social-list-link:hover,
.footer .social-list-link:focus {
  background-color: #31d0aa;
}

.footer-text {
  color: #f4f4fd;
  font-size: 16px;
  max-width: 268px;
  margin-bottom: 72px;
}

@media screen and (min-width: 1158px) {
  .footer-text {
    line-height: 24px;
    letter-spacing: 0.32px;
    max-width: 264px;
  }
}

.footer-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .footer-container {
    flex-direction: row;
    justify-content: flex-start;
  }
}

@media screen and (min-width: 1158px) {
  .footer-container {
    display: flex;
    align-items: baseline;
    flex-direction: row;
    flex-wrap: nowrap;
  }
}

.footer-logo-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 18px;
}

@media screen and (min-width: 768px) {
  .footer-logo-container {
    display: block;
    padding-left: 93px;
  }
}

@media screen and (min-width: 1158px) {
  .footer-logo-container {
    display: block;
    margin-right: 120px;
    padding-left: 0;
  }
}

.footer-social-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 72px;
}

@media screen and (min-width: 768px) {
  .footer-social-container {
    align-items: baseline;
    padding-left: 24px;
    margin-left: 0;
  }
}

@media screen and (min-width: 1158px) {
  .footer-social-container {
    display: block;
    margin-right: 80px;
    padding: 0;
  }
}

.footer-subscription {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
}

@media screen and (min-width: 768px) {
  .footer-subscription {
    padding-left: 93px;
  }
}

@media screen and (min-width: 1158px) {
  .footer-subscription {
    padding-left: 0;
  }
}

.footer-subscription-text {
  color: #fff;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
  margin-bottom: 16px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .footer-subscription-text {
    text-align: start;
  }
}

.footer-subscription-form {
  display: flex;
  gap: 24px;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .footer-subscription-form {
    flex-direction: row;
  }
}

.footer-form-label {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-form-input {
  background-color: transparent;
  max-width: 398px;
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid var(--white, #fff);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  padding-left: 16px;
  color: #ffffff;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5; /* 200% */
  letter-spacing: 0.04em;
  outline: transparent;
}

@media screen and (min-width: 768px) {
  .footer-form-input {
    width: 264px;
  }
}

@media screen and (min-width: 1158px) {
  .footer-social-container {
    margin-right: 80px;
  }

  .footer-form-input {
    background-color: transparent;
    width: 264px;
    height: 40px;
    border-radius: 4px;
    border: 1px solid var(--white, #fff);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    padding-left: 16px;
    color: #ffffff;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5; /* 200% */
    letter-spacing: 0.04em;
    outline: transparent;
  }
}

.footer-form-input::placeholder {
  color: #ffffff;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 200% */
  letter-spacing: 0.48px;
  padding-top: 8px;
}

.subscribe-button {
  color: #fff;
  text-align: center;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: 0.64px;
  border-radius: 4px;
  background: var(--iris, #4d5ae5);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 8px 24px;
  width: 165px;
  height: 40px;
  border: none;
  cursor: pointer;
  min-width: 165px;
  margin: 0 auto;
}

.subscribe-button-img {
  fill: #fff;
  margin-left: 16px;
}

.modal-button-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal-window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 288px;
  min-height: 623px;
  background-color: #fcfcfc;
  border-radius: 4px;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 24px 24px;
}

@media screen and (min-width: 768px) {
  .modal-window {
    width: 408px;
    height: 584px;
  }
}

.modal-window-close-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  padding: 0;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-window-close-button:hover,
.modal-window-close-button:focus {
  background-color: #404bbf;
  border: none;
}

.modal-window-close-button-image {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-window-close-button:hover .modal-window-close-button-image,
.modal-window-close-button:focus .modal-window-close-button-image {
  fill: #fff;
}

.modal-header {
  color: #2e2f42;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.modal-form-section {
  margin-bottom: 8px;
}

.modal-form-comment-section {
  margin-bottom: 16px;
}

.form-div-section {
  position: relative;
  margin-bottom: 8px;
}

.modal-form-label {
  display: block;
  color: #8e8f99;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  margin-bottom: 4px;
}

.modal-form-input {
  display: block;
  border-radius: 4px;
  border: 1px solid var(--navyblue-modal, rgba(46, 47, 66, 0.4));
  width: 100%;
  height: 40px;
  outline: none;
  padding-left: 38px;
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus {
  border-radius: 4px;
  border: 1px solid var(--iris, #4d5ae5);
}

.privacy-section {
  margin-bottom: 24px;
}

.modal-input-image {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translatey(-50%);
  fill: #2e2f42;
  pointer-events: none;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  pointer-events: none;
}

.modal-form-input:focus + .modal-input-image {
  fill: #4d5ae5;
}

.modal-form-comment {
  color: rgba(46, 47, 66, 0.4);
  width: 100%;
  height: 120px;
  border-radius: 4px;
  border: 1px solid var(--navyblue-modal, rgba(46, 47, 66, 0.4));
  padding: 8px 16px;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  outline: transparent;
  resize: none;
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-comment:focus {
  border-color: #4d5ae5;
}

.modal-form-comment::placeholder {
  color: var(--navyblue-modal, rgba(46, 47, 66, 0.4));
}

.checkbox {
  display: inline-block;
}

.privacy-policy-text {
  display: block;
  color: #8e8f99;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}
.privacy-policy-link {
  color: #4d5ae5;
}

.checkbox-span {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-right: 8px;
}

.user-privacy-descr {
  color: var(--lightslate, #8e8f99);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.16;
  letter-spacing: 0.04em;
}

/* ????? */

/* CHECKBOX */
.checkbox:checked + .privacy-policy-text .checkbox-span {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}
/* ????? */

.send-form-button {
  color: var(--white, #fff);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border-radius: 4px;
  background: var(--iris, #4d5ae5);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  display: block;
  padding: 16px 32px;
  gap: 10px;
  border: transparent;
  margin-top: 16px;
  margin-left: auto;
  margin-right: auto;
  min-width: 169px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.send-form-button:hover,
.send-form-button:focus {
  background-color: #404bbf;
  border: none;
}

.modal-input-image:hover,
.modal-input-image:focus {
  fill: #ffffff;
}

.is-open {
  opacity: 1;
  pointer-events: all;
  visibility: visible;
}
